.navbar {
  height: 70px;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: transparent;
}

.nav-logo {
  font-weight: 700;
  font-size: 1.25rem;
}

/* Make the logo a non-purple link and remove underline */
.nav-logo,
.nav-left a.nav-logo {
  color: #333;
  text-decoration: none;
}

/* .nav-logo:hover {
  opacity: 0.8;
} */

.nav-right {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 0.95rem;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  opacity: 0.6;
}

.divider {
  width: 1px;
  height: 20px;
  background: #ddd;
}

.profile-icon {
  cursor: pointer;
}